/* @import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Uchen&display=swap'); */
html {
	scroll-behavior: smooth;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none; 
	text-decoration: none;
	/* font-family: 'Uchen', serif; */
	/* font-family: 'Josefin Sans', sans-serif; */
	/* font-family: 'Uchen', serif; */
}

body {
	background-color: #f7f7f7;
}

.nav_bar {
	padding: 25px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.logo {
	font-size: 50px;
	letter-spacing: 5px;
	color: #5F6F81;

}

.ul_list {
	display: flex;
}

.list a{
	padding: 20px 20px 0px 20px;
	font-size: 22px;
	letter-spacing: 1px;
	color: #5F6F81;
	/* border-bottom: 1.5px solid rgba(255, 99, 71, 0); */
	transition: all .3s ease-in;
} 

/* .list a:hover {
	border-bottom: 1px solid rgba(255, 99, 71, 1);
} */

.btn {
	border: 1px solid #7510f7;
	padding: 10px;
	font-size: 22px;
	letter-spacing: 1px;
	color: #5F6F81;
	transition: all 0.2s ease-out ;
	cursor: pointer;
}
.btn:hover {
	background-color: #7031ac;
	color: whitesmoke;
	box-shadow: 0px 20px 40px -16px rgba(132,122,245,0.71);
}

.banner {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 100px;
	margin-bottom: 158px;
}
.banner1 {
	display: flex;
	justify-content: center;
	align-items: center;
}
.my_img {
	/* align-self: center; */
	height: 350px;
	width: 350px;
	border-radius: 50%;
}

.banner2 {
	/* width: 100%; */
	height: 100%;
}

.hi {
	letter-spacing: 0.5px;
	font-size: 25px;
	margin: 25px 0px 25px 50px;
	color: #5F6F81;

}

.name {
	margin: 25px 0px 25px 50px;
	font-size: 55px;
	color: #5F6F81;

}

.para {
	margin: 25px 0px 25px 50px;
	letter-spacing: 1px;
    color: #51759e;
    font-size: 1rem;
    min-width: 250px;
    line-height: 1.4;
	width: 65%;
}

.about {
	height: 100%;
	/* width: 100%; */
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 50px;
}

.wrapper {
	padding: 25px;
	height: auto;
	width: 75%;
	background-color: white;
	border-radius: 50px;
	transition: all 0.3s ease-out;
}

.wrapper:hover {
	box-shadow: 0px 20px 40px -16px rgba(132,122,245,0.71);
}

.my_self {
	letter-spacing: 0.5px;
	font-size: 25px;
	/* margin: 25px 0px 25px 50px; */
	color: #5F6F81;

 	height: 28.80px;
	width: 1014.4px;
}

.about_txt {
	padding: 25px;
	/* margin: 25px 0px 25px 50px; */
	margin-bottom: 20px;
	letter-spacing: 1px;
    color: #51759e;
    font-size: 22px;
    /* min-width: 250px; */
    line-height: 1.4;
	/* width: 65%; */
}

.btn1 {
	border: 1px solid #7510f7;
	margin: 10px;
	padding: 10px;
	font-size: 22px;
	letter-spacing: 1px;
	/* color: #5F6F81; */
	color: whitesmoke;
	background-color: #5f6f81;
	transition: all 0.2s ease-out ;
	cursor: pointer;
}

.btn1:hover {
	color: #5F6F81;
	background-color: #f7f7f7;
}

.skills {
	display: flex;
	flex-wrap: wrap;
}

.my_skills {
	margin: 15px;
	/* border: 1px solid #7510f7; */
	padding: 15px;
	font-size: 25px;
	letter-spacing: 1px;
	color: #5F6F81;
	/* transition: all 0.2s ease-out ; */
	background-color: #f7f7f7;
    /* padding: 10px; */
    border-radius: 15px;
	width: 150px;
	height: 79.6px;
	text-align: center;
    transition: all 0.3s ease-in;
    box-shadow: 0px 4px 8px rgb(134 151 168 / 10%);
    border: 1px solid #eee;

}

.my_skills:hover {
	box-shadow: 0px 20px 40px -16px rgba(132,122,245,0.71);
}

.card {
	height: auto;
	width: 350px;
	padding: 25px;
	margin: auto;
	/* border-radius: 5px; */
	position: relative;
}

.img {
	width: 300px;
	height: 255px;
	border-radius: 15px;
	/* position: relative; */

}

.caption {
	position: absolute;
	opacity: 0;
	width: 300px;
	height: 255px;
	background-color: #141c3a;
	/* z-index: 1; */
	top: 25px;
	border-radius: 10px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	transition:all .8s ease-out;
}

.caption:hover {
	opacity: 1;
	box-shadow: 1px 0px 23px 0px rgba(50, 50, 50, 1);
}

.captionData {
	letter-spacing: 0.5px;
	font-size: 25px;
	/* margin-top: 65px; */
	margin: 65px 10px 10px 10px;
	text-align: center;
	color: wheat;
}

.btn2 {
border: 1px solid white;
padding: 10px;
font-size: 22px;
letter-spacing: 1px;
cursor: pointer;
}

.footer {
	height: 100%;
	width: 100%;
	background-color: #141c3a;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.discover {
	letter-spacing: 0.5px;
	font-size: 40px;
	margin: 70px 70px 40px 70px;
	color: wheat;
}

.icon {

}

.icons {
	margin: 25px;
	color: wheat;
	font-size: 30px;
	padding: 15px;
	/* border: 1px solid wheat; */
	/* border-radius: 100%; */
	letter-spacing: 1px;
	transition: all 3s ease-out;
	cursor: pointer;
}
.icons:hover {
	border: 1px solid wheat;
}

.copyright {
	/* letter-spacing: 0.5px; */
	/* line-height: 25px; */
	font-size: 20px;
	margin: 50px 70px 0 70px;
	color: wheat;
}